  <div class="login">
    <h1>Login</h1>

    <div class="fields">
      <%= form_tag '/login' do %>

      Email: <%= text_field_tag :email, "", class: 'form-control'%><br>
      Password: <%= password_field_tag :password, "", class: 'form-control' %><br>
      <%= submit_tag "Login", class: "btn btn-primary btn-lg" %>
      <% end %>
    </div>

  </div>


